.aboutContent p {
  margin-bottom: 20px;
  line-height: 1.4; }

.aboutContent .social {
  margin-top: 40px; }
  .aboutContent .social a {
    margin-top: 20px;
    display: block;
    vertical-align: middle; }
    .aboutContent .social a img {
      width: 20px;
      vertical-align: middle;
      margin-right: 10px; }
