h1
  font-family: 'Crimson Text', serif
  font-weight: 400
  color: black

h2
  font-family: 'Open Sans', serif
  font-weight: 600
  color: black

h3, p, li, a, span
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  line-height: 1.4
  color: black

p>b
  font-weight: 700


p>a
  color: inherit
  border-bottom: 1px solid #f9df86
  transition: border-color .3s ease-in-out
  &:hover
    border-bottom: 1px solid #fc3c3c

body
  width: 100%
  height: 100%
  overflow: hidden


  #root
    width: 100%
    height: 100%


    .App
      width: 100%
      height: 100%


      .Projects, .Highlights
        display: inline-block
        vertical-align: top

        .highlightsList, .projectsList, .aboutContent
          height: calc(100vh - 80px)
          padding: 20px 40px
          overflow-y: scroll
          -webkit-overflow-scrolling: touch


      .Projects
        width: 40%

        .title
          height: 80px
          width: 100%
          vertical-align: center
          line-height: 80px
          padding: 0 40px

          h1
            font-size: 18px

      .Highlights
        width: 60%
        @media screen and (max-width: 699px)
          width: 100%

        .tabTitle
          height: 80px
          width: 100%
          vertical-align: center
          padding: 0 40px

          li
            width: 50%
            display: inline-block
            line-height: 80px
            cursor: pointer
            @media screen and (max-width: 699px)
              width: 33.3%
            h1
              transition: color .2s ease-in-out
              font-size: 18px
            &:hover h1
              color: grey
            &[aria-selected='true'] h1
              border-bottom: 1px solid black
              color: grey
